<template>
  <div class="home" data-app>
    <LanguageSelector />
    <HeaderLogo />
    <About :title="titleAbout" :content="aboutContent" />
    <Skills :title="titleSkills" :skills="skills" />
    <Career :title="titleCareer" :careers="careers" />
    <Footer :networks="networks" />
  </div>
</template>

<script>
// @ is an alias to /src
import HeaderLogo from "@/components/HeaderLogo.vue";
import About from "@/components/About.vue";
import Skills from "@/components/Skills.vue";
import Career from "@/components/Career.vue";
import Footer from "@/components/Footer.vue";
import LanguageSelector from "@/components/commons/LanguageSelector.vue";
import content from "@/content.json";

export default {
  name: "Home",
  components: {
    LanguageSelector,
    HeaderLogo,
    About,
    Skills,
    Career,
    Footer
  },
  data() {
    return {
      aboutContent: content.data.about.content,
      titleAbout: content.data.about.title,
      titleSkills: content.data.skills.title,
      skills: content.data.skills.data,
      titleCareer: content.data.careers.title,
      careers: content.data.careers.data,
      networks: content.data.social
    };
  }
};
</script>
