<template>
  <section class="container-about">
    <h1 class="title">
      <span>{{ $t("about.title") }}</span>
    </h1>
    <div class="wrapper">
      <div class="content-about">
        <img
          data-aos="fade-right"
          alt="Vue logo"
          src="../assets/img1.jpg"
          width="300"
          class="md-elevation-4"
        />
        <md-content
          class="content-about-description md-primary"
          data-aos="fade-left"
        >
          {{ $t("about.content") }}
        </md-content>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "About",
  props: {
    title: {
      type: String,
      default: ""
    },
    content: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="scss">
:root {
  --base-size: 1em;
  --type-scale: 1.125;
  --h3: calc(var(--base-size) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}

.container-about {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 50%;
  max-width: 200px;
  width: 70%;
}

.title {
  margin: 1em 0 1em 0;
  color: #aaa;
  font-size: 3em;
  position: relative;
  z-index: 1;

  span {
    background: #fff;
    padding: 0 15px;
    font-size: var(--h1);
  }
}

.title::before {
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 91%;
  z-index: -1;
}

.content-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-about-description {
  text-align: center;
  margin: 2em;
  font-size: calc(var(--base-size) * var(--type-scale));
  line-height: 30px;
}

.wrapper {
  align-items: center;
  margin-bottom: 2em;
}

@media screen and (min-width: 959px) {
  :root {
    --type-scale: 1.2;
  }
  .content-about {
    flex-direction: row;
  }
  img {
    max-width: 400px;
    width: 30%;
    margin: 2em;
  }
  .content-about-description {
    align-items: flex-start;
    text-align: justify;
    margin-left: 2em;
  }

  .wrapper {
    width: calc(100vw - 368.21px);
    margin: 0 auto 4em auto;
  }

  .title::before {
    width: 60%;
  }
}
</style>
