<template>
  <section class="container-careers">
    <h1 class="title">
      <span>{{ $t("careers.title") }}</span>
    </h1>
    <div class="wrapper-carreer">
      <v-timeline
        :dense="$vuetify.breakpoint.smAndDown"
        :align-top="$vuetify.breakpoint.smAndDown"
        class="timeline-margin-top"
      >
        <v-timeline-item
          v-for="(carrer, key) in careers"
          :key="carrer.id"
          data-aos="fade-zoom-in"
          data-aos-duration="1500"
          color="#2c3e50"
          large
          class="timeline-item-space"
          :small="true"
        >
          <template v-slot:opposite>
            <div>
              <span>{{ $t(`careers.worksDates[${key}]`) }}</span>
            </div>
          </template>
          <v-card class="elevation-2">
            <v-card-title class="headline">
              {{ carrer.title }}
              <span v-if="$vuetify.breakpoint.smAndDown" class="from-pl">
                ({{ $t(`careers.worksDates[${key}]`) }})
              </span>
            </v-card-title>
            <v-card-text>
              <v-list>
                <v-list-item v-for="(item, i) in carrer.tech" :key="i">
                  <v-list-item-icon>
                    <v-icon v-text="item.icon" />
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.text" />
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </div>
  </section>
</template>

<script>
export default {
  name: "Career",
  props: ["title", "careers"],
  data: () => ({
    years: [
      {
        color: "cyan",
        year: "1960"
      },
      {
        color: "green",
        year: "1970"
      },
      {
        color: "pink",
        year: "1980"
      },
      {
        color: "amber",
        year: "1990"
      },
      {
        color: "orange",
        year: "2000"
      }
    ],
    items: [
      {
        text:
          "Real-Time asdds asdada asdads sdaddasdda dsa ddadadad asdasddad sads",
        icon: "mdi-circle-double"
      },
      { text: "Audience", icon: "mdi-circle-double" },
      { text: "Conversions", icon: "mdi-circle-double" }
    ]
  })
};
</script>

<style lang="scss">
.timeline-margin-top {
  margin: 4em 0 4em 0;
}

.container-careers {
  display: flex;
  flex-direction: column;
}

.wrapper-carreer {
  max-width: 100%;
  flex: 1 0 0px;
  padding: 0 2em 0 0;
  align-items: center;
}

.title {
  margin-top: 2em;
  color: #aaa;
  font-size: 3em;
  position: relative;
  z-index: 1;

  span {
    background: #fff;
    padding: 0 15px;
  }
}

.title::before {
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  z-index: -1;
}

.timeline-item-space {
  margin: 1em;
}
.theme--light.v-timeline {
  &::before {
    right: auto;
    left: 62px;
  }
}

.theme--light.v-list-item {
  text-align: left;
  padding: 0;
}

.v-list-item__content {
  padding-left: 1em;
}

.v-timeline-item__body > .v-card:not(.v-card--flat):before {
  transform: rotate(0);
  left: -10px;
  right: auto;
}

.theme--light.v-timeline .v-timeline-item .v-card:before {
  border-right-color: rgba(0, 0, 0, 0.12);
}

.v-timeline-item__body > .v-card:not(.v-card--flat):before {
  top: calc(50% - 8px);
}

.v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
  .v-timeline-item:nth-child(odd):not(.v-timeline-item--before)
  .v-timeline-item__body
  .v-card:after {
  transform: rotate(0);
  left: -10px;
  right: auto;
}

.v-timeline-item__body > .v-card:not(.v-card--flat):after {
  border-right-color: inherit;
  left: -10px;
}

.from-pl {
  padding-left: 0.5rem;
}

@media screen and (min-width: 959px) {
  .theme--light.v-timeline {
    &::before {
      right: auto;
      left: auto;
    }
  }
  .timeline-item-space {
    margin: 0 4rem 0 4rem;
  }
  .wrapper {
    width: calc(100vw - 368.21px);
  }

  .v-timeline-item__opposite {
    flex-grow: 0 !important;
  }

  .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
    .v-timeline-item:nth-child(2n):not(.v-timeline-item--after)
    .v-timeline-item__body
    > .v-card:before {
    transform: rotate(180deg);
    right: -10px;
    left: auto;
  }

  .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
    .v-timeline-item:nth-child(2n):not(.v-timeline-item--after)
    .v-timeline-item__body
    > .v-card:after {
    transform: rotate(180deg);
    right: -10px;
    left: auto;
  }

  .v-timeline-item__body > .v-card:not(.v-card--flat):after {
    border-right-color: inherit;
  }

  .title::before {
    width: 60%;
  }
}
</style>
