<template>
  <section class="container-footer">
    <ul class="social-list">
      <li v-for="network in networks" :key="network.id">
        <a :href="network.link" target="_blank">
          <v-icon :size="$vuetify.breakpoint.mdAndUp ? 60 : 40" color="#aaa">
            {{ icons[network.icon] }}
          </v-icon>
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
import { mdiLinkedin, mdiGithub, mdiPost } from "@mdi/js";
export default {
  name: "Footer",
  props: ["networks"],
  data: () => ({
    icons: {
      linkedin: mdiLinkedin,
      github: mdiGithub,
      blog: mdiPost
    }
  })
};
</script>

<style lang="scss" scoped>
.container-footer {
  background: #2c3e50;
  padding: 2em;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    margin: 1em 4em;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (min-width: 959px) {
}
</style>
