<template>
  <img
    data-aos="zoom-in"
    data-aos-duration="1500"
    alt="Vue logo"
    src="../assets/logo.png"
    width="300"
    class="logo-mb"
  />
</template>

<style lang="scss" scoped>
.logo-mb {
  margin-bottom: 2em;
}
</style>
