<template>
  <section class="container-skills">
    <h1 class="title">
      <span>{{ $t("skills.title") }}</span>
    </h1>
    <div class="wrapper">
      <div class="row">
        <div
          v-for="skill in skills"
          :key="skill.id"
          data-aos="fade-up"
          class="col-1-2 skill-bubble"
        >
          <v-icon size="80" class="mb-skill-icon">
            {{ icons[skill.icon] }}
          </v-icon>
          <p>{{ skill.name }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {
  mdiLanguageCss3,
  mdiLanguageJavascript,
  mdiLanguageHtml5,
  mdiReact,
  mdiLanguageTypescript,
  mdiAngular,
  mdiVuejs,
  mdiGit,
  mdiAws,
  mdiCubeOutline
} from "@mdi/js";
export default {
  name: "Skills",
  props: {
    title: {
      type: String,
      default: ""
    },
    skills: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data: () => ({
    icons: {
      css: mdiLanguageCss3,
      javascript: mdiLanguageJavascript,
      html: mdiLanguageHtml5,
      react: mdiReact,
      typecript: mdiLanguageTypescript,
      angular: mdiAngular,
      vue: mdiVuejs,
      git: mdiGit,
      aws: mdiAws,
      noIcon: mdiCubeOutline
    }
  })
};
</script>

<style lang="scss" scoped>
.container-skills {
  display: flex;
  flex-direction: column;
  background: #22313f;
  padding-bottom: 2em;
}

.wrapper {
  width: calc(100vw - 100px);
  align-self: center;
}

.title {
  margin-top: 2em;
  color: #19b5fe;
  font-size: 3em;
  position: relative;
  z-index: 1;

  span {
    background: #22313f;
    padding: 0 15px;
  }
}

.title::before {
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  z-index: -1;
  border-color: #19b5fe;
}

.skill-bubble {
  background: #19b5fe;
  border: 4px solid #22a7f0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 1;
  margin-top: 5rem;
}

[class*="col-"] {
  --width: 16;
  --gap-constant: 0.3%;
  --initialbasis: calc(var(--width, 0) / var(--columns, 16) * 100%);
  --gap: calc(
    (var(--columns, 16) - var(--width, 0)) * var(--gap-constant, 0.3%)
  );
  flex-basis: calc(var(--initialbasis) - var(--gap));
  margin: 0.3em;
}

@media screen and (min-width: 959px) {
  .col-1-2 {
    --width: 3;
    margin: 1em;
  }
  .row {
    --columns: 11;
  }

  .title::before {
    width: 60%;
  }

  .wrapper {
    width: calc(100vw - 368.21px);
  }

  .mb-skill-icon {
    margin-bottom: 0.5rem;
  }

  .skill-bubble {
    flex-direction: column;
    justify-content: center;
  }
}
</style>
