<template>
  <section class="container-language">
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-icon
          class="margin-icon-language"
          size="40"
          @click="onOpenList"
          v-on="on"
          v-text="'mdi-translate'"
        />
      </template>
      <v-list width="70">
        <v-list-item
          v-for="(lang, index) in languages"
          :key="index"
          :style="{
            'text-align': 'center'
          }"
          @click="setLocale"
        >
          <v-list-item-title>{{ lang }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </section>
</template>

<script>
export default {
  name: "LanguageSelector",
  data: () => ({
    openList: false,
    languages: ["EN", "ES"]
  }),
  methods: {
    onOpenList() {
      this.openList = true;
    },
    setLocale(event) {
      this.$i18n.locale = event.target.innerText.toLowerCase();
    }
  }
};
</script>

<style lang="scss">
.container-language {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em 2em 0 0;
  display: flex;
  align-items: center;
}

.margin-icon-language {
  margin-right: 0.5rem;
}

@media screen and (min-width: 959px) {
}
</style>
